.cardList {
    padding-bottom: 124px;
}
.demoCard {
    display: flex;
    width: 480px;
    height: 720px;
    padding: 60px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}
.demoCardContent {
    width: 400px;
    height: 600px;
    border-radius: 17px;
    border: 2.125px solid #FFF;
    background: var(--r-neutral-foot, #6A7587);
}
.row {
    margin-bottom: 40px;
}