.cardList {
    padding-bottom: 124px;
}
.demoCard {
    display: flex;
    width: 480px;
    height: 720px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
    
    &:hover {
      transform: scale(1.05);
    }
}
.mobileCard {
  width: 470px;
  height: 880px;
}
@media screen and (max-width: 1024px) {
  .demoCard {
    width: 370px;
    height: 555px;
  }
  .mobileCard {
    width: 370px;
    height: 644px;
  }
  .cardList {
    padding-bottom: 63px;
  }
}