.cardList {
    padding-bottom: 124px;
}
.demoCard {
    display: flex;
    width: 480px;
    height: 720px;
    padding: 60px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 48px;
}
.demoCardContent {
    width: 400px;
    height: 600px;
    border-radius: 17px;
    border: 2.125px solid #FFF;
    background: var(--r-neutral-foot, #6A7587);
}
.row {
    margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .demoCard {
    width: 370px;
    height: 555px;
    margin-right: 40px;
  }
  .demoCardContent {
    width: 308px;
    height: 463px;
  }
  .row {
    margin-bottom: 40px;
  }
  .cardList {
    padding-bottom: 63px;
  }
}