.container {
  width: 100vw;
  min-height: 100vh;
  background: var(--r-blue-default, #7084ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 16px;
  background: var(--r-neutral-bg1, #fff);
  box-shadow: 0px 40px 80px 0px rgba(43, 57, 143, 0.4);
}

.logo {
  width: 60px;
  height: 60px;
}

.title {
  margin-top: 12px;
  color: var(--r-neutral-title1, #192945);
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.desc {
  color: var(--r-neutral-body, #3e495e);
  text-align: center;
  font-family: "SF Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */
}

.divider {
  width: 100%;
  height: 0.5px;
  background: var(--r-neutral-line, #e0e5ec);
  margin: 32px 0;
}

.sub {
  margin-bottom: 16px;
  color: var(--r-neutral-title1, #192945);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
}

.textarea {
  resize: none;
  overflow: hidden;
  width: 100%;
  min-height: 140px;
  max-height: 155px;
  padding: 16px;
  color: var(--r-neutral-title1, #192945);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--r-neutral-line, #e0e5ec);
}

.textarea:not(.err):hover,
.textarea:not(.err):focus {
  border: 1px solid var(--r-blue-default, #7084ff);
}

.textarea.err {
  border: 1px solid var(--r-red-default, #e34935);
}

.textarea::placeholder {
  color: var(--r-neutral-foot, #6a7587);
}

.inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.error {
  position: absolute;
  left: 0;
  bottom: -24px;
  color: var(--r-red-default, #e34935);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit,
.skip {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  padding: 18px 0px;
}

.submit:hover {
  /* box-shadow: 0 8px 24px #3a4aa54d; */
  box-shadow: 0px 8px 16px rgba(134, 151, 255, 0.3);
}
.skip:hover {
  box-shadow: 0px 8px 16px rgba(224, 229, 236, 0.3);
}

.submit {
  border-radius: 8px;
  background: var(--r-blue-default, #7084ff);
  color: var(--r-neutral-title2, #fff);
}
.skip {
  margin-top: 16px;
  border-radius: 8px;
  background: var(--r-neutral-line, #e0e5ec);
  color: var(--r-neutral-body, #3e495e);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 168px;
}

.link {
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link:hover {
  border-radius: 8px;
  background: var(--r-neutral-card2, #f2f4f7);
}

.item {
  width: 40px;
  height: 40px;
}
