.footer {
    background: var(--r-blue-light1, #EEF1FF);
    display: flex;
    max-width: 1440px;
    padding: 40px 80px 80px 80px;
    margin: 0 auto;
    .footerLogo {
        margin-right: 92px;
        .footerLogoText {
            color: var(--r-neutral-title1, #192945);
            font-size: 13px;
            font-weight: 500;
        }
    }
    .footerList {
        display: flex;
        flex-wrap: wrap;
        .footerItem {
            width: 200px;
            display: flex;
            flex-direction: column;
            .footerItemTitle {
                color: var(--r-neutral-title1, #192945);
                font-size: 16px;
                font-weight: 590;
            }
            .footerItemList {
                font-size: 16px;
                font-weight: 400;
                margin-top: 24px;
                a {
                    text-decoration: none;
                    color: var(--r-neutral-body, #3E495E);
                    padding: 10px 14px;
                    margin-left: -14px;
                    &:hover {
                        cursor: pointer;
                        color: var(--r-blue-primary, #4C65FF);
                        border-radius: 12px;
                        background: rgba(76, 101, 255, 0.10);
                    }
                }
            }
        
        }
    }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 0!important;
    .footerLogo {
        margin-right: 0!important;
        text-align: center;
        img {
            width: 114px!important;
        }
    }
    .footerList {
        max-width: 370px;
        flex-wrap: wrap;
    }
    .footerItemList {
        margin-top: 16px!important;
        a {
            padding: 0!important;
            margin: 0!important;
            &:hover {
                background: none!important;
                color: var(--r-neutral-body, #3E495E)!important;
            }
        }
    }
    .footerItem {
        width: 180px!important;
        margin: 20px 0!important;
    }
    flex-direction: column-reverse;
    align-items: center;
  }
}