.footer {
    background: var(--r-blue-light1, #EEF1FF);
    display: flex;
    max-width: 1440px;
    padding: 40px 80px 80px 80px;
    margin: 0 auto;
    .emailPopupContainer {
      position: relative;
      .emailPopup {
        position: absolute;
        top: -24px;
        left: 40px;
        width: 200px;
        height: 120px;
        background-color: #DEE3FF;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        padding: 8px;
        pointer-events: auto;
        a {
            border-radius: 12px;
            padding: 15px;
            color: var(--r-blue-primary, #4C65FF);
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            text-decoration: none;
            background-color: var(--r-neutral-card1, #FFF);
            margin-bottom: 8px;
            z-index: 1;
            cursor: pointer;
            pointer-events: auto;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            &:hover {
                background-color: #4C65FF33;
            }
            &:active {
                background-color: #4C65FF66;
            }
        }
      }
    }
    .emailPopupArrow {
      position: absolute;
      rotate: 90deg;
      top: 20px;
      left: 30px;
    }
    .footerLogo {
        margin-right: 92px;
        .footerLogoText {
            color: var(--r-neutral-title1, #192945);
            font-size: 13px;
            font-weight: 500;
        }
    }
    .footerList {
        margin-top: -40px;
        display: flex;
        flex-wrap: wrap;
        .footerItem {
            width: 240px;
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .footerItemTitle {
                color: var(--r-neutral-title1, #192945);
                font-size: 16px;
                font-weight: 590;
            }
            .footerItemList {
                font-size: 16px;
                font-weight: 400;
                margin-top: 24px;
                a {
                    text-decoration: none;
                    color: var(--r-neutral-body, #3E495E);
                    padding: 10px 14px;
                    margin-left: -14px;
                    &:hover {
                        cursor: pointer;
                        color: var(--r-blue-primary, #4C65FF);
                        border-radius: 12px;
                        background: rgba(76, 101, 255, 0.10);
                    }
                }
            }
        
        }
    }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 16px!important;
    padding-top: 0!important;
    .footerLogo {
        margin-right: 0!important;
        text-align: center;
        img {
            width: 114px!important;
        }
    }
    .footerList {
        max-width: 370px;
        flex-wrap: wrap;
    }
    .footerItemList {
        margin-top: 16px!important;
        a {
            padding: 0!important;
            margin: 0!important;
            &:hover {
                background: none!important;
                color: var(--r-neutral-body, #3E495E)!important;
            }
        }
    }
    .footerItem {
        width: 179px!important;
        margin: 20px 0!important;
    }
    flex-direction: column-reverse;
    align-items: center;
  }
}