@import url(../node_modules/normalize.css/normalize.css);

:root {
  --rabby-color-opacity: 1;
  --tw-bg-opacity: 1;

  /* -------------------- base define -------------------- */
  --rabby-light-blue-default: rgba(76, 101, 255, 1);
  --rabby-light-blue-light1: rgba(237, 240, 255, 1);
  --rabby-light-blue-light-1: rgba(237, 240, 255, 1);
  --rabby-light-blue-light2: rgba(219, 224, 255, 1);
  --rabby-light-blue-light-2: rgba(219, 224, 255, 1);
  --rabby-light-blue-disable: rgba(165, 178, 255, 1);
  --rabby-light-green-default: rgba(42, 187, 127, 1);
  --rabby-light-green-light: rgba(216, 242, 231, 1);
  --rabby-light-orange-default: rgba(255, 176, 32, 1);
  --rabby-light-orange-light: rgba(255, 245, 226, 1);
  --rabby-light-orange-DBK: rgba(255, 124, 96, 1);
  --rabby-light-red-default: rgba(227, 73, 53, 1);
  --rabby-light-red-light: rgba(255, 242, 240, 1);
  --rabby-light-red-dark: rgba(174, 42, 25, 1);
  --rabby-light-red-light2: rgba(239, 212, 209, 1);
  --rabby-light-red-light-2: rgba(239, 212, 209, 1);
  --rabby-light-neutral-title1: rgba(25, 41, 69, 1);
  --rabby-light-neutral-title-1: rgba(25, 41, 69, 1);
  --rabby-light-neutral-body: rgba(62, 73, 94, 1);
  --rabby-light-neutral-foot: rgba(106, 117, 135, 1);
  --rabby-light-neutral-line: rgba(224, 229, 236, 1);
  --rabby-light-neutral-bg1: rgba(255, 255, 255, 1);
  --rabby-light-neutral-bg-1: rgba(255, 255, 255, 1);
  --rabby-light-neutral-bg2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-bg-2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-bg3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-bg-3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-bg-4: rgba(235, 238, 247, 1);
  --rabby-light-neutral-card1: rgba(255, 255, 255, 1);
  --rabby-light-neutral-card-1: rgba(255, 255, 255, 1);
  --rabby-light-neutral-card2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-card-2: rgba(242, 244, 247, 1);
  --rabby-light-neutral-card3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-card-3: rgba(247, 250, 252, 1);
  --rabby-light-neutral-title2: rgba(255, 255, 255, 1);
  --rabby-light-neutral-title-2: rgba(255, 255, 255, 1);
  --rabby-light-neutral-black: rgba(0, 0, 0, 1);
  --rabby-light-sonic-btn: rgba(33, 78, 129, 0.16);
  --rabby-light-sonic-btn-foreground: rgba(33, 78, 129, 1);
  --rabby-light-sonic-card: rgba(255, 255, 255, 1);
  --rabby-light-sonic-card-foreground: rgba(0, 0, 0, 1);
  --rabby-light-sonic-card-border: rgba(80, 97, 121, 0.1);
  --rabby-light-sonic-background: rgba(245, 245, 245, 1);
  --rabby-light-sonic-foreground: rgba(0, 0, 0, 1);

  --rabby-dark-blue-default: rgba(76, 101, 255, 1);
  --rabby-dark-blue-light1: rgba(33, 38, 64, 1);
  --rabby-dark-blue-light-1: rgba(33, 38, 64, 1);
  --rabby-dark-blue-light2: rgba(38, 45, 85, 1);
  --rabby-dark-blue-light-2: rgba(38, 45, 85, 1);
  --rabby-dark-blue-disable: rgba(47, 59, 128, 1);
  --rabby-dark-green-default: rgba(42, 187, 127, 1);
  --rabby-dark-green-light: rgba(57, 90, 90, 1);
  --rabby-dark-orange-default: rgba(255, 198, 74, 1);
  --rabby-dark-orange-light: rgba(72, 67, 57, 1);
  --rabby-dark-orange-DBK: rgba(255, 124, 96, 1);
  --rabby-dark-red-default: rgba(239, 92, 72, 1);
  --rabby-dark-red-light: rgba(79, 58, 66, 1);
  --rabby-dark-red-dark: rgba(174, 42, 25, 1);
  --rabby-dark-red-light2: rgba(79, 58, 66, 1);
  --rabby-dark-red-light-2: rgba(79, 58, 66, 1);
  --rabby-dark-neutral-title1: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-title-1: rgba(247, 250, 252, 1);
  --rabby-dark-neutral-body: rgba(211, 216, 224, 1);
  --rabby-dark-neutral-foot: rgba(186, 190, 197, 1);
  --rabby-dark-neutral-line: rgba(255, 255, 255, 0.1);
  --rabby-dark-neutral-bg1: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg-1: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg2: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg-2: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg3: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg-3: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-bg-4: rgba(12, 15, 31, 1);
  --rabby-dark-neutral-card1: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-1: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card2: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-2: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card3: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-card-3: rgba(255, 255, 255, 0.06);
  --rabby-dark-neutral-title2: rgba(255, 255, 255, 1);
  --rabby-dark-neutral-title-2: rgba(255, 255, 255, 1);
  --rabby-dark-neutral-black: rgba(0, 0, 0, 1);
  --rabby-dark-sonic-card: rgba(33, 34, 38, 1);
  --rabby-dark-sonic-card-foreground: rgba(255, 255, 255, 1);
  --rabby-dark-sonic-card-border: rgba(50, 51, 55, 1);
  --rabby-dark-sonic-background: rgba(20, 20, 22, 1);
  --rabby-dark-sonic-foreground: rgba(255, 255, 255, 1);
  --rabby-dark-sonic-btn: rgba(254, 154, 76, 0.16);
  --rabby-dark-sonic-btn-foreground: rgba(254, 154, 76, 1);
}

:root {
  /* -------------------- light mode -------------------- */
  --r-blue-default-rgb: 76, 101, 255;
  --r-blue-default: var(--rabby-light-blue-default);
  --r-blue-light1-rgb: 237, 240, 255;
  --r-blue-light1: var(--rabby-light-blue-light1);
  --r-blue-light-1-rgb: 237, 240, 255;
  --r-blue-light-1: var(--rabby-light-blue-light-1);
  --r-blue-light2-rgb: 219, 224, 255;
  --r-blue-light2: var(--rabby-light-blue-light2);
  --r-blue-light-2-rgb: 219, 224, 255;
  --r-blue-light-2: var(--rabby-light-blue-light-2);
  --r-blue-disable-rgb: 165, 178, 255;
  --r-blue-disable: var(--rabby-light-blue-disable);
  --r-green-default-rgb: 42, 187, 127;
  --r-green-default: var(--rabby-light-green-default);
  --r-green-light-rgb: 216, 242, 231;
  --r-green-light: var(--rabby-light-green-light);
  --r-orange-default-rgb: 255, 176, 32;
  --r-orange-default: var(--rabby-light-orange-default);
  --r-orange-light-rgb: 255, 245, 226;
  --r-orange-light: var(--rabby-light-orange-light);
  --r-orange-DBK-rgb: 255, 124, 96;
  --r-orange-DBK: var(--rabby-light-orange-DBK);
  --r-red-default-rgb: 227, 73, 53;
  --r-red-default: var(--rabby-light-red-default);
  --r-red-light-rgb: 255, 242, 240;
  --r-red-light: var(--rabby-light-red-light);
  --r-red-dark-rgb: 174, 42, 25;
  --r-red-dark: var(--rabby-light-red-dark);
  --r-red-light2-rgb: 239, 212, 209;
  --r-red-light2: var(--rabby-light-red-light2);
  --r-red-light-2-rgb: 239, 212, 209;
  --r-red-light-2: var(--rabby-light-red-light-2);
  --r-neutral-title1-rgb: 25, 41, 69;
  --r-neutral-title1: var(--rabby-light-neutral-title1);
  --r-neutral-title-1-rgb: 25, 41, 69;
  --r-neutral-title-1: var(--rabby-light-neutral-title-1);
  --r-neutral-body-rgb: 62, 73, 94;
  --r-neutral-body: var(--rabby-light-neutral-body);
  --r-neutral-foot-rgb: 106, 117, 135;
  --r-neutral-foot: var(--rabby-light-neutral-foot);
  --r-neutral-line-rgb: 224, 229, 236;
  --r-neutral-line: var(--rabby-light-neutral-line);
  --r-neutral-bg1-rgb: 255, 255, 255;
  --r-neutral-bg1: var(--rabby-light-neutral-bg1);
  --r-neutral-bg-1-rgb: 255, 255, 255;
  --r-neutral-bg-1: var(--rabby-light-neutral-bg-1);
  --r-neutral-bg2-rgb: 242, 244, 247;
  --r-neutral-bg2: var(--rabby-light-neutral-bg2);
  --r-neutral-bg-2-rgb: 242, 244, 247;
  --r-neutral-bg-2: var(--rabby-light-neutral-bg-2);
  --r-neutral-bg3-rgb: 247, 250, 252;
  --r-neutral-bg3: var(--rabby-light-neutral-bg3);
  --r-neutral-bg-3-rgb: 247, 250, 252;
  --r-neutral-bg-3: var(--rabby-light-neutral-bg-3);
  --r-neutral-bg-4-rgb: 235, 238, 247;
  --r-neutral-bg-4: var(--rabby-light-neutral-bg-4);
  --r-neutral-card1-rgb: 255, 255, 255;
  --r-neutral-card1: var(--rabby-light-neutral-card1);
  --r-neutral-card-1-rgb: 255, 255, 255;
  --r-neutral-card-1: var(--rabby-light-neutral-card-1);
  --r-neutral-card2-rgb: 242, 244, 247;
  --r-neutral-card2: var(--rabby-light-neutral-card2);
  --r-neutral-card-2-rgb: 242, 244, 247;
  --r-neutral-card-2: var(--rabby-light-neutral-card-2);
  --r-neutral-card3-rgb: 247, 250, 252;
  --r-neutral-card3: var(--rabby-light-neutral-card3);
  --r-neutral-card-3-rgb: 247, 250, 252;
  --r-neutral-card-3: var(--rabby-light-neutral-card-3);
  --r-neutral-title2-rgb: 255, 255, 255;
  --r-neutral-title2: var(--rabby-light-neutral-title2);
  --r-neutral-title-2-rgb: 255, 255, 255;
  --r-neutral-title-2: var(--rabby-light-neutral-title-2);
  --r-neutral-black-rgb: 0, 0, 0;
  --r-neutral-black: var(--rabby-light-neutral-black);
  --r-sonic-btn-rgb: 33, 78, 129;
  --r-sonic-btn: var(--rabby-light-sonic-btn);
  --r-sonic-btn-foreground-rgb: 33, 78, 129;
  --r-sonic-btn-foreground: var(--rabby-light-sonic-btn-foreground);
  --r-sonic-card-rgb: 255, 255, 255;
  --r-sonic-card: var(--rabby-light-sonic-card);
  --r-sonic-card-foreground-rgb: 0, 0, 0;
  --r-sonic-card-foreground: var(--rabby-light-sonic-card-foreground);
  --r-sonic-card-border-rgb: 80, 97, 121;
  --r-sonic-card-border: var(--rabby-light-sonic-card-border);
  --r-sonic-background-rgb: 245, 245, 245;
  --r-sonic-background: var(--rabby-light-sonic-background);
  --r-sonic-foreground-rgb: 0, 0, 0;
  --r-sonic-foreground: var(--rabby-light-sonic-foreground);
}

html.dark,
body.dark {
  /* -------------------- dark mode -------------------- */
  --r-blue-default-rgb: 76, 101, 255;
  --r-blue-default: var(--rabby-dark-blue-default);
  --r-blue-light1-rgb: 33, 38, 64;
  --r-blue-light1: var(--rabby-dark-blue-light1);
  --r-blue-light-1-rgb: 33, 38, 64;
  --r-blue-light-1: var(--rabby-dark-blue-light-1);
  --r-blue-light2-rgb: 38, 45, 85;
  --r-blue-light2: var(--rabby-dark-blue-light2);
  --r-blue-light-2-rgb: 38, 45, 85;
  --r-blue-light-2: var(--rabby-dark-blue-light-2);
  --r-blue-disable-rgb: 47, 59, 128;
  --r-blue-disable: var(--rabby-dark-blue-disable);
  --r-green-default-rgb: 42, 187, 127;
  --r-green-default: var(--rabby-dark-green-default);
  --r-green-light-rgb: 57, 90, 90;
  --r-green-light: var(--rabby-dark-green-light);
  --r-orange-default-rgb: 255, 198, 74;
  --r-orange-default: var(--rabby-dark-orange-default);
  --r-orange-light-rgb: 72, 67, 57;
  --r-orange-light: var(--rabby-dark-orange-light);
  --r-orange-DBK-rgb: 255, 124, 96;
  --r-orange-DBK: var(--rabby-dark-orange-DBK);
  --r-red-default-rgb: 239, 92, 72;
  --r-red-default: var(--rabby-dark-red-default);
  --r-red-light-rgb: 79, 58, 66;
  --r-red-light: var(--rabby-dark-red-light);
  --r-red-dark-rgb: 174, 42, 25;
  --r-red-dark: var(--rabby-dark-red-dark);
  --r-red-light2-rgb: 79, 58, 66;
  --r-red-light2: var(--rabby-dark-red-light2);
  --r-red-light-2-rgb: 79, 58, 66;
  --r-red-light-2: var(--rabby-dark-red-light-2);
  --r-neutral-title1-rgb: 247, 250, 252;
  --r-neutral-title1: var(--rabby-dark-neutral-title1);
  --r-neutral-title-1-rgb: 247, 250, 252;
  --r-neutral-title-1: var(--rabby-dark-neutral-title-1);
  --r-neutral-body-rgb: 211, 216, 224;
  --r-neutral-body: var(--rabby-dark-neutral-body);
  --r-neutral-foot-rgb: 186, 190, 197;
  --r-neutral-foot: var(--rabby-dark-neutral-foot);
  --r-neutral-line-rgb: 255, 255, 255;
  --r-neutral-line: var(--rabby-dark-neutral-line);
  --r-neutral-bg1-rgb: 12, 15, 31;
  --r-neutral-bg1: var(--rabby-dark-neutral-bg1);
  --r-neutral-bg-1-rgb: 12, 15, 31;
  --r-neutral-bg-1: var(--rabby-dark-neutral-bg-1);
  --r-neutral-bg2-rgb: 12, 15, 31;
  --r-neutral-bg2: var(--rabby-dark-neutral-bg2);
  --r-neutral-bg-2-rgb: 12, 15, 31;
  --r-neutral-bg-2: var(--rabby-dark-neutral-bg-2);
  --r-neutral-bg3-rgb: 12, 15, 31;
  --r-neutral-bg3: var(--rabby-dark-neutral-bg3);
  --r-neutral-bg-3-rgb: 12, 15, 31;
  --r-neutral-bg-3: var(--rabby-dark-neutral-bg-3);
  --r-neutral-bg-4-rgb: 12, 15, 31;
  --r-neutral-bg-4: var(--rabby-dark-neutral-bg-4);
  --r-neutral-card1-rgb: 255, 255, 255;
  --r-neutral-card1: var(--rabby-dark-neutral-card1);
  --r-neutral-card-1-rgb: 255, 255, 255;
  --r-neutral-card-1: var(--rabby-dark-neutral-card-1);
  --r-neutral-card2-rgb: 255, 255, 255;
  --r-neutral-card2: var(--rabby-dark-neutral-card2);
  --r-neutral-card-2-rgb: 255, 255, 255;
  --r-neutral-card-2: var(--rabby-dark-neutral-card-2);
  --r-neutral-card3-rgb: 255, 255, 255;
  --r-neutral-card3: var(--rabby-dark-neutral-card3);
  --r-neutral-card-3-rgb: 255, 255, 255;
  --r-neutral-card-3: var(--rabby-dark-neutral-card-3);
  --r-neutral-title2-rgb: 255, 255, 255;
  --r-neutral-title2: var(--rabby-dark-neutral-title2);
  --r-neutral-title-2-rgb: 255, 255, 255;
  --r-neutral-title-2: var(--rabby-dark-neutral-title-2);
  --r-neutral-black-rgb: 0, 0, 0;
  --r-neutral-black: var(--rabby-dark-neutral-black);
  --r-sonic-card-rgb: 33, 34, 38;
  --r-sonic-card: var(--rabby-dark-sonic-card);
  --r-sonic-card-foreground-rgb: 255, 255, 255;
  --r-sonic-card-foreground: var(--rabby-dark-sonic-card-foreground);
  --r-sonic-card-border-rgb: 50, 51, 55;
  --r-sonic-card-border: var(--rabby-dark-sonic-card-border);
  --r-sonic-background-rgb: 20, 20, 22;
  --r-sonic-background: var(--rabby-dark-sonic-background);
  --r-sonic-foreground-rgb: 255, 255, 255;
  --r-sonic-foreground: var(--rabby-dark-sonic-foreground);
  --r-sonic-btn-rgb: 254, 154, 76;
  --r-sonic-btn: var(--rabby-dark-sonic-btn);
  --r-sonic-btn-foreground-rgb: 254, 154, 76;
  --r-sonic-btn-foreground: var(--rabby-dark-sonic-btn-foreground);
}

* {
  box-sizing: border-box;
}

html {
  background-color: #fafbfc;
  font-family: "SF Pro", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--r-blue-light1, #eef1ff);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-weight: bold;
  font-size: 32px;
}
h3 {
  font-weight: bold;
  font-size: 30px;
}

.round-button {
  text-align: center;
  display: inline-block;
  opacity: 1 !important;
  border-radius: 18px;
  color: #fff;
  text-decoration: none;
}
.main-container {
  zoom: 0.8;
}
.round-button.transparent {
  width: 130px;
  line-height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s;
  color: #fff;
}
.round-button.transparent:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.round-button.orange {
  width: 186px;
  line-height: 48px;
  background: #fe815f;
  box-shadow: 0px 5px 21px -2px rgba(255, 161, 20, 0.25);
  border-radius: 24px;
  font-size: 18px;
  position: relative;
  z-index: 1;
}
.round-button.orange::after {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: 192px;
  height: 54px;
  background-color: rgba(254, 129, 95, 0.5);
  border-radius: 26px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}
.round-button.orange:hover::after {
  opacity: 1;
}
.round-button.border {
  width: 214px;
  line-height: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  z-index: 1;
}
.round-button.border:hover {
  background: rgba(255, 255, 255, 0.3);
}

.main {
  max-width: 1900px;
  margin: 0 auto;
}
header {
  width: 100%;
  zoom: 1.2;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 18px 80px;
  align-items: center;
}
.nav-left {
  display: flex;
}
.nav-right {
  display: flex;
}
.round-button.primary {
  color: var(--r-neutral-title2, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
  line-height: normal;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: flex;
  background: var(--r-blue-light3, #4c65ff);
}
.download-btn {
  padding: 12px 24px;
  border-radius: 12px;
}

.menu {
  display: flex;
  margin-left: 52px;
}
.menu li {
  display: flex;
  align-items: center;
}
.menu li a {
  color: var(--r-neutral-title1, #2d3033);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 12px;
  transition: all 0.3s;
}
.menu li a:hover {
  color: var(--r-blue-light3, #4c65ff);
  background: var(--r-blue-light2, rgba(76, 101, 255, 0.1));
}

.header-content {
  width: 67%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symbol {
  margin-top: 60px;
  width: 176px;
  height: 176px;
  margin-bottom: 22px;
}

.slogan {
  width: 1408px;
  max-width: 100%;
  margin-bottom: 100px;
}

.section-title {
  color: var(--r-neutral-title1, #192945);
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin: 80px auto;
}

.twitter-icon {
  margin-bottom: 16px;
  width: 80px;
  height: 80px;
}
.menu-container {
  display: none;
  position: relative;
}
.menu-container .menu-panel {
  position: absolute;
  top: 40px;
  width: 128px;
  right: 0;
  z-index: 1;
  border-radius: 8px;
  background: var(--r-neutral-card1, #fff);
  box-shadow: 0px 8px 20px 0px rgba(41, 43, 113, 0.16);
}
.menu-container .menu-panel .menu-item {
  padding: 12px 11px 11px 14px;
  text-align: center;
}
.menu-container .menu-panel .menu-item a {
  color: var(--r-neutral-title1, #2d3033);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .nav {
    padding: 16px;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 114px;
  }
  .symbol {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-bottom: 8px;
  }
  .slogan {
    width: 370px;
    margin-bottom: 44px;
  }
  .download-btn {
    padding: 8px 18px;
  }
  .section-title {
    font-size: 24px;
    margin: 40px auto;
    max-width: 370px;
  }
  .twitter-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
  }
  .menu-container {
    cursor: pointer;
    display: flex !important;
    margin-left: 16px;
  }
}

.white {
  color: #fff;
}

.header-content .left {
  width: 64%;
}

.features {
  display: flex;
  flex-wrap: wrap;
}
.feature-item {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s;
  padding: 8px;
  border-radius: 8px;
  white-space: nowrap;
}
.feature-item:nth-last-child(1) {
  margin-right: 0;
}
.feature-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.feature-item .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.coming-soon {
  margin-top: 32px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
  align-items: center;
}

.coming-soon img {
  width: 24px;
  margin-right: 12px;
}

.actions {
  margin-top: 56px;
  display: flex;
  align-items: flex-start;
}
.actions .download-btn {
  display: none;
}
.actions .round-button .icon-discord {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.actions .round-button.orange {
  margin-right: 16px;
}
/*1*/
.browsers {
  display: flex;
  margin-top: 38px;
  flex-wrap: wrap;
}
.browsers .browsers-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}
.browsers .tooltip {
  margin-right: 16px;
}
.browsers .tooltip .browser-item {
  margin-right: 0;
}
.browsers .browser-item {
  opacity: 0.5;
  margin-right: 16px;
  position: relative;
  padding: 16px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  border-radius: 8px;
  text-decoration: none;
  color: #2d3033;
  transition: box-shadow 0.3s;
  flex: 1;
  height: 64px;
  text-align: center;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* justify-content: center; */
  align-items: center;
}

.browsers .browser-item.enable {
  background-color: #fff;
  opacity: 1;
}
.browsers .browser-item.enable:hover {
  box-shadow: 0px 8px 24px rgba(58, 74, 165, 0.3);
}
.browsers .browser-item p {
  line-height: 17px;
  margin-top: 2px;
  margin-bottom: 0;
}
.browsers img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.browsers .browser-item:nth-last-child(1) {
  margin-right: 0;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: visible;
  position: absolute;
  padding: 8px 20px 10px 20px;
  background: #2d3033;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s;
  font-size: 12px;
  line-height: 14px;
  min-width: 112px;
}
.tooltip .tooltip-text.tooltip-top {
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip .tooltip-text.tooltip-top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2d3033 transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.intro {
  /* width: 100%; */
  /* padding-top: 180px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #2d3033;
  text-align: center;
  margin-bottom: 80px;
}

.intro-content {
  display: flex;
  margin-bottom: 120px;
  align-items: flex-start;
}
.intro-content .left {
  margin-right: 40px;
}
.intro-content .intro-img {
  width: 460px;
}
.intro-content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
}
.intro-content .intro-title {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  padding: 10px 16px;
  background: linear-gradient(296.44deg, #8bb2ff 10.7%, #7a7cff 86.81%);
  box-shadow: inset 0px -20px 20px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
}
.intro-content h3 {
  color: #2d3033;
  margin-bottom: 12px;
}
.intro-content p {
  color: #525966;
  margin-bottom: 24px;
  margin-top: 0;
  font-size: 16px;
}
.intro-content .chains {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 436px;
  gap: 12px;
}
.intro-content .chains img {
  width: 20px;
}
.intro-content .chains span {
  font-size: 13px;
  line-height: 16px;
  color: #7a8599;
  background: #f0f2f8;
  border-radius: 90px;
  padding: 1px 12px 3px;
  display: inline-block;
}

.download {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 360px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 80px 0;
  text-align: center;
  padding-bottom: 75px;
  margin-bottom: 100px;
}

.download .download-bg,
.download .download-mobile-bg {
  position: absolute;
  top: 70px;
  left: 0;
  max-width: 100%;
  z-index: -1;
}
.download .download-mobile-bg {
  opacity: 0;
  top: 0;
}

.download h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  padding: 0;
  margin: 0;
  padding-top: 60px;
}

.download p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 32px;
  opacity: 0.8;
}

footer {
  background-color: #19233c;
}
footer .main {
  /* width: 1440px; */
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 238px;
  padding-right: 240px;
}
footer .copyright {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.6;
  margin: 0;
  text-align: right;
}
footer .left {
  display: flex;
  align-items: center;
}
footer .left .debank-logo {
  width: 160px;
}
footer .left .debank-logo::after {
  content: "";
  right: 0;
  top: 50%;
  margin-top: -11px;
  position: absolute;
  width: 1px;
  height: 22px;
  background-color: #c4c4c4;
}
footer .left .debank-logo,
footer .left .rabby-logo {
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}
footer .left .rabby-logo {
  width: 164px;
  padding-left: 0;
  padding-right: 0;
}
footer .left img {
  width: 100%;
}
footer .right .footer-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}
footer .right .footer-links a {
  position: relative;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 0 8px;
}
footer .right .footer-links a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #a2a7b2;
  height: 1.5px;
  width: 3px;
  margin-top: -0.75px;
  margin-right: -1.5px;
}
footer .right .footer-links a:visited {
  text-decoration: none;
}
footer .right .footer-links a:nth-last-child(1) {
  padding-right: 0;
}
footer .right .footer-links a:nth-last-child(1)::after {
  display: none;
}
.toast {
  position: fixed;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 24px;
  color: #fff;
  font-size: 14px;
  background: rgba(42, 45, 64, 0.96);
  box-shadow: 0px 8px 20px rgba(41, 43, 113, 0.2);
  border-radius: 4px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.1s;
  text-align: center;
  white-space: nowrap;
}

.security {
  padding: 80px 0;
  width: 100%;
  background-color: #f2f4f7;
}

.security .title {
  margin-bottom: 24px;
}

.security-content {
  width: 100%;
}
.security-content .container {
  max-width: 960px;
  margin: 0 auto;
}
.security-content .subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #3e495e;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
}

.year-select {
  display: flex;
  justify-content: center;
}

.year-select a {
  margin-right: 32px;
  color: #6a7587;
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
}

.year-select a.active {
  color: #7084ff;
  position: relative;
}

.year-select a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -5px;
  background-color: #7084ff;
  height: 3px;
}

.year-select a:nth-last-child(1) {
  margin-right: 0;
}

.audit-list {
  margin-top: 32px;
}
.audit-list .complete {
  background-color: #2abb7f;
  padding: 14px 18px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
}
.audit-list .complete .icon-audit-complete {
  margin-right: 6px;
}

.audit-list .audit-item {
  background-color: #fff;
  padding: 26px 32px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #e0e5ec;
}

.audit-list .audit-item:nth-last-child(1) {
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.audit-company-logo {
  width: 68px;
  height: 68px;
  margin-right: 24px;
}

.audit-company-info .top {
  display: flex;
  color: #192945;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.audit-company-website,
.audit-company-twitter {
  margin-left: 12px;
  cursor: pointer;
}
.audit-company-info .bottom {
  display: flex;
}
.audit-company-info .bottom .box {
  border-radius: 8px;
  border: 1px solid #e0e5ec;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  margin-right: 12px;
  color: #6a7587;
  font-size: 16px;
  font-weight: 600;
}

.audit-company-info .bottom .box img {
  margin-right: 6px;
}
.audit-company-report {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.audit-company-report a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #d8f2e7;
  color: #2abb7f;
  font-size: 18px;
  font-weight: 600;
}

.audit-company-report a img {
  margin-left: 6px;
}

.no-padding {
  padding: 0;
  margin: 0 auto;
}

.chains {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #525966;
  margin-bottom: 160px;
}

.chains .title {
  text-align: left;
  margin-bottom: 48px;
  display: flex;
}

.chains .title .goto-dashboard {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--r-neutral-body, #3e495e);
  margin-left: auto;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-right: 20px;
}

.chains ul {
  display: flex;
  flex-wrap: wrap;
}

.chains .part-title {
  margin-top: 40px;
  margin-bottom: 24px;
}

.chains ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #525966;
  margin-bottom: 36px;
  margin-right: 58px;
  width: 62px;
}

.chains ul li:nth-child(8n) {
  margin-right: 0;
}

.chains ul li:nth-last-child(-n + 8) {
  margin-bottom: 0;
}

.chains ul li img {
  width: 32px;
  margin-bottom: 8px;
}

.chains,
.signing-modes,
.integrated-doc,
.contact-us {
  max-width: 965px;
  margin-left: auto;
  margin-right: auto;
}

.signing-modes,
.integrated-doc,
.contact-us {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #525966;
  margin-bottom: 120px;
}

.signing-modes .title {
  text-align: left;
  margin-bottom: 24px;
}

.signing-modes .signing-modes-wrapper {
  display: flex;
}

.signing-modes .signing-modes-wrapper .signing-modes-card {
  width: 300px;
  /* height: 360px; */
  background: #ffffff;
  border: 0.5px solid #eaeaec;
  border-radius: 8px;
  margin-right: 33px;
  padding-top: 33px;
}

.signing-modes .signing-modes-wrapper .signing-modes-card:nth-last-child(1) {
  margin-right: 0;
}

.signing-modes .signing-modes-wrapper .signing-modes-card h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2d3033;
  margin: 0 0 30px 0;
  padding-left: 24px;
}

.signing-modes .signing-modes-wrapper .signing-modes-card ul {
  display: flex;
  flex-wrap: wrap;
}

.signing-modes .signing-modes-wrapper .signing-modes-card ul li {
  width: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.signing-modes .signing-modes-wrapper .signing-modes-card ul li img {
  width: 32px;
  margin-bottom: 6px;
}

.signing-modes .signing-modes-wrapper .signing-modes-card ul li p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin: 0;

  color: #525966;

  opacity: 0.8;
}

.signing-modes > p,
.chains > p {
  margin-bottom: 40px;
}

.integrated-doc .bg {
  border-radius: 8px;
  border: 0.5px solid var(--title, #eaeaec);
  height: 402px;
  background-image: url(/public/assets/images/dapp-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.integrated-doc .bg .number {
  color: var(--r-blue-default, #7084ff);
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.integrated-doc .bg .desc {
  margin-top: 4px;
  margin-bottom: 25px;
  color: var(--r-neutral-foot, #6a7587);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.integrated-doc .bg .btn {
  width: 292px;
  height: 64px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  color: var(--r-neutral-title2, #fff);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 900px;
  background: var(--r-blue-default, #7084ff);
  text-decoration: none;
}
.integrated-doc .bg .btn:hover {
  border-radius: 900px;
  background: var(--r-blue-default, #7084ff);
  box-shadow: 0px 8px 24px 0px rgba(112, 132, 255, 0.46);
}

.contact-us .title {
  text-align: left;
  margin-bottom: 24px;
}

.contact-us .card {
  border-radius: 8px;
  border: 0.5px solid var(--title, #eaeaec);
  background: var(--white-title, #fff);
  display: flex;
  flex-wrap: wrap;
  padding: 30px 32px;
}

.contact-us .card .email-box a {
  color: var(--r-blue-default, #7084ff);
  text-decoration: none;
  font-size: 15px;
}

.contact-us .card .sub-title {
  color: var(--r-neutral-title1, #192945);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0;
}

.contact-us .card .email-box {
  margin-right: 80px;
}

.contact-us .card .email-box .dm {
  margin-top: 20px;
  display: inline-block;
}

.contact-us .card .email {
  display: flex;
  flex-wrap: wrap;
  color: var(--r-neutral-body, #3e495e);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 32px;
}

.contact-us .card .email a {
  padding-left: 4px;
}

.contact-us .card .follow-us {
  display: flex;
  gap: 32px;
}

.contact-us .card .follow-us img {
  width: 22px;
  height: 22px;
}

.comment-title {
  font-family: "SF Pro", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: center;
  color: #192945;
  margin-bottom: 36px;
}

.comment-scroll-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}

.comment-item:hover {
  border: 1px solid var(--r-blue-default, #7084ff);
  background: linear-gradient(
      0deg,
      rgba(112, 132, 255, 0.05) 0%,
      rgba(112, 132, 255, 0.05) 100%
    ),
    var(--r-neutral-card1, #fff);
  box-shadow: 0px 4px 16px 0px rgba(112, 132, 255, 0.1);
}

.comment-item {
  width: 360px;
  cursor: pointer;
  max-width: 360px;
  min-width: 360px;
  height: fit-content;
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 0.5px solid var(--title, #eaeaec);
  background: var(--white-title, #fff);

  .loading-container {
    width: 360px;
    height: 320px;
    border: 0.5px solid #eaeaec;
    padding: 24px;
    width: 360px;
    height: 320px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
  }

  .loading-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .loading-first {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .comment-item-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .comment-item-top-right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .comment-item-signature {
    font-family: "SF Pro", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    color: var(--r-neutral-foot, #6a7587);
  }

  .comment-item-content {
    font-family: "SF Pro", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: var(--r-neutral-title1, #192945);
    flex: 1;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.comment-item-top {
  display: flex;
  flex-direction: row;
}

.comment-item-author {
  display: flex;
  align-items: center;
  font-family: "SF Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: var(--r-neutral-title1, #192945);

  img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}

.comment-container {
  height: 620px;
  padding-top: 180px;
  padding-bottom: 80px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
