<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
  <meta name="google-site-verification" content="5Sga5VqXk5CSqDeDLW6HaFP8dMFVAqdL0ikHLzs2ak8" />
  <link rel="stylesheet" href="{{ assetPath "style.css" }}">
  <link href="assets/favicon.png" rel="shortcut icon" type="image/x-icon">
  <title>Rabby</title>
  <meta content="A better plugin wallet for DeFi users" name="description">
  <meta content="A better plugin wallet for DeFi users" property="twitter:description">
  <meta content="/assets/twitter-card.jpg" property="twitter:image">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main">
    <header>
      <div class="nav">
        <img src="/assets/logo.png" alt="Rabby" class="logo" />
        <a href="javascript:;" class="menu-btn">
          <i></i>
          <i></i>
          <i></i>
        </a>
        <ul class="menu">
          <li><a href="https://twitter.com/Rabby_io" target="_blank">Twitter</a></li>
          <li><a href="https://medium.com/@rabby_io" target="_blank">Medium</a></li>
          <li><a href="https://discord.gg/seFBCWmUre" target="_blank">Discord</a></li>
          <li><a href="https://github.com/RabbyHub/Rabby" target="_blank">GitHub</a></li>
          <li><a class="menu-download round-button transparent" href="https://chrome.google.com/webstore/detail/rabby/acmacodkjbdgmoleebolmdjonilkdbch" target="_blank">Download</a></li>
        </ul>
      </div>
      <div class="header-content">
        <div class="left">
          <h1 class="white">A better plugin wallet for DeFi users</h1>
          <div class="features">
            <a href="/" target="_blank" class="feature-item">
              <img src="/assets/slowmist.png" alt="SlowMist" class="icon" />
              Audited by SlowMist
            </a>
            <a href="/" target="_blank" class="feature-item">
              <img src="/assets/github.png" alt="Open Source" class="icon" />
              Open Source
            </a>
          </div>
          <div class="actions">
            <a href="https://chrome.google.com/webstore/detail/rabby/acmacodkjbdgmoleebolmdjonilkdbch" target="_blank" class="round-button orange">Download</a>
            <a href="https://discord.gg/seFBCWmUre" target="_blank" class="round-button border">
              <img src="/assets/discord.png" alt="" class="icon-discord" />
              Join the discussion
            </a>
          </div>
          <div class="browsers">
            <div class="browser-item">
              <img src="/assets/chrome.png" alt="Chrome" />
            </div>
            <div class="browser-item">
              <img src="/assets/firefox-gray.png" alt="Firefox" title="Comming Soon..." />
            </div>
            <div class="browser-item">
              <img src="/assets/edge-gray.png" alt="Edge" title="Comming Soon..." />
            </div>
          </div>
        </div>
        <img src="/assets/hero.png" alt="Dashboard screenshot" class="hero-image" />
      </div>
    </header>
    <div class="intro">
      <h2 class="title">How is Rabby different from MetaMask</h2>
      <div>
        <div class="intro-content">
          <img src="/assets/multi-chain.png" alt="Multi Chain" class="left intro-img" />
          <div class="right text">
            <div class="intro-title">Multi-chain</div>
            <h3>Smooth multi-chain experience</h3>
            <p>Automatically  switch to the corresponding chain based on your visited site</p>
            <div class="chains">
              <img src="/assets/eth.png" alt="ETH">
              <img src="/assets/bsc.png" alt="BSC">
              <img src="/assets/xDai.png" alt="xDai">
              <img src="/assets/polygon.png" alt="Polygon">
              <img src="/assets/fantom.png" alt="Fantom">
              <img src="/assets/okex.png" alt="OKExChain">
              <img src="/assets/heco.png" alt="Heco">
            </div>
          </div>
        </div>
        <div class="intro-content">
          <div class="left text">
            <div class="intro-title">Security</div>
            <h3>Pre-transaction risk scanning</h3>
            <p>Supported by our security rule engine</p>
          </div>
          <img src="/assets/security-check.png" alt="Security" class="right intro-img" />
        </div>
        <div class="intro-content">
          <img src="/assets/sign-tx.png" alt="Experience" class="left intro-img" />
          <div class="right text">
            <div class="intro-title">Experience</div>
            <h3>You see exactly what you sign</h3>
            <p>The first wallet showing your estimated balance change</p>
          </div>
        </div>
      </div>
      <div class="download">
        <img src="/assets/download-bg.png" class="download-bg" />
        <img src="/assets/download-bg-mobile.png" class="download-bg-mobile" />
        <h3 class="white">Get Rabby and Start DeFi</h3>
        <a href="https://chrome.google.com/webstore/detail/rabby/acmacodkjbdgmoleebolmdjonilkdbch" target="_blank" class="round-button orange">Download</a>
      </div>
    </div>
  </div>
  <footer>
    <img src="/assets/logo.png" alt="logo" class="logo" />
    <p class="copyright">© 2021 rabby.io  All rights reserved.</p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    (function() {
      var btn = $('.menu-btn');
      btn.on('click', function() {
        btn.toggleClass('expand');
        $('.menu').toggleClass('show')
      });
    })()
  </script>
</body>
</html>