.container {
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  --box-pl: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.title {
  color: var(--r-neutral-title2, #fff);
  text-align: center;
  font-family: SF Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.box {
  max-width: 100vw;
  width: 536px;
  // height: 100px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.box2 {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 36px;
}
.subTitle {
  color: var(--r-neutral-title2, #fff);
  text-align: center;
  font-family: SF Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  margin-bottom: 16px;
}
.referral {
  color: var(--r-neutral-title2, #fff);
  text-align: center;
  font-family: SF Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.code {
  color: var(--r-neutral-title2, #fff);
  text-align: center;
  font-family: SF Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
}

.codeBox {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyIconWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: transparent;

  &:hover {
    background: rgba(255, 255, 255, 0.18);
  }
}

.copyIcon {
  width: 24px;
  height: 22px;
  cursor: pointer;
}
.chromeIcon {
  width: 20px;
  height: 20px;
}
.install {
  color: var(--r-neutral-title1, #192945);
  text-align: center;
  font-family: SF Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  text-decoration: none;
  display: inline-flex;
  padding: 16px 26px 16px 25px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--r-neutral-title2, #fff);
  box-shadow: 0px 4px 24px 0px rgba(41, 58, 162, 0.19);
  margin-bottom: 24px;
  &:hover {
    box-shadow: 0px 12px 24px 0px rgba(41, 58, 162, 0.53);
  }
}

.guide {
  width: 205px;
  height: 308px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: var(--r-neutral-bg1, #fff);
}

.logoWrapper {
  .logo {
    width: 128px;
    height: 26px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

.toast {
  display: inline-flex;
  padding: 8px 16px 8px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 2px;
  background: var(--r-neutral-black, #000);
  color: var(--r-neutral-title2, #fff);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
